.treemapItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}
